@charset "utf-8";

/**
@prefix : <http://purl.org/net/ns/doas#> .
<http://jdtplugins.googlecode.com/svn/trunk/jdtgnokyouhu/css/jDTGnoKyouhu.css> a :CSSstylesheet;
 :shortdesc "jDTGnoKyouhu.css";
 :created "2010-06-15";
 :release [:revision "1.0"; :created "2010-06-15"];
 :author [:name "Yusuke. Nakanishi"; :homepage <http://yusukenakanishi.com/> ];
 :license <http://creativecommons.org/licenses/GPL/2.0/>;
 :dependencies "none" .
*/

html {
    overflow: hidden;
}
div.GArea {
}
div.GArea img {
    position: absolute;
    z-index: 0;
}
div.GArea img.GImg {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 50%;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
}
ul#GMenu {
    position: absolute;
    top: 20px;
    right: 30px;
    margin: 0 -10px 0 0;
    padding: 0;
    list-style: none;
    _zoom: 1;
    overflow: hidden;
}
ul#GMenu li {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
ul#GMenu li img {
    z-index: 10;
}