@charset "utf-8";
/* CSS Document */

/*カチャ*/
#kacha {
	/*display: none;*/
	position: absolute;
	z-index: 8998;
	left: 0px;
	top: 0px;
	display: none;
}

/*ッターン*/
#ntaaan 
{
	/*display: none;*/
	position: absolute;
	z-index: 8999;
	left: 0px;
	top: 0px;
	display: none;
}
