body
{
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", "MS UI Gothic", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";
	font-size: 93%;
	text-align: center;
}

a:link { COLOR: #000000; }
a:visited { COLOR: #000000; }
a:hover { COLOR: #ff00ff; }
a:active { COLOR: #000000; }
