@charset "utf-8";

/*-----------------------------------------------------------

 import.css

 Import css files including //

 - share/default.css
 - share/fonts.css - YUI fonts.css
 - share/layout.css
 - share/common.css

 and more module setting files.
 Page's own styles will be defined below example.
 
 "body.className element"

 ------------------------------------------------------------*/

/* Common styles
 ------------------------------------------------------------*/

@import url("share/default.css");
@import url("share/fonts.css");
@import url("share/layout.css");
@import url("share/common.css");


/* Module styles
 ------------------------------------------------------------*/

html {
    overflow: hidden;
}
div.GArea {
}
div.GArea img {
    position: absolute;
    z-index: 0;
}
div.GArea img.GImg {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 50%;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
}
ul#GMenu {
    position: absolute;
    top: 20px;
    right: 30px;
    margin: 0 -10px 0 0;
    padding: 0;
    list-style: none;
    _zoom: 1;
    overflow: hidden;
}
ul#GMenu li {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
ul#GMenu li img {
    z-index: 10;
}