/*カチャ*/
#kacha {
	position: absolute;
	z-index: 8998;
	left: 0px;
	top: 0px;
	display: none;
}

/*ッターン*/
#ntaaan 
{
	position: absolute;
	z-index: 8999;
	left: 0px;
	top: 0px;
	display: none;
}
