@charset "utf-8";

/*-----------------------------------------------------------

 common.css
 
 Define common styles in this file.
 Using the YUI fonts.css,
 font-size properties will be defined below table.
 
 |px|%|
 |10|77|
 |11|85|
 |12|93| (was 93)
 |13|100|
 |14|108| (was 107)
 |15|116| (was 114)
 |16|123.1| (was 122)
 |17|131| (was 129)
 |18|138.5| (was 136)
 |19|146.5| (was 144)
 |20|153.9| (was 152)
 |21|161.6| (was 159)
 |22|167|
 |23|174|
 |24|182|
 |25|189|
 |26|197|
 
 ex) 12px
 
 element {
 	font-size: 93%;
 }
	
 ------------------------------------------------------------*/

/*-----------------------------------------------------------
 Clearfix
 ------------------------------------------------------------*/
 
div.clearfix {
	zoom: 1;
}

div.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	line-height: 0; 
	visibility: hidden;
}

/*-----------------------------------------------------------
 Common Settings
 ------------------------------------------------------------*/

body {
	position: relative;
	background: #fafafa;
}

div#initializing {
	padding: 6em 0;
	text-align: center;
}

	div#initializing p {
		padding: 1em 3em;
		display: inline-block;
		background: url(../../img/initializing.gif) no-repeat left center;
		font-size: 128%;
	}
	
.ui-icon {
	display: inline-block;
}

div.whatInOut {
	margin: 50px 0 0 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 300px;
	height: 300px;
	display: none;
	position: absolute;
	left: 30%;
	color: #fff;
	background: #000;
}