@charset "utf-8";

/*-----------------------------------------------------------

 layout.css
 
 Define frameset styles.
	
 ------------------------------------------------------------*/

/*-----------------------------------------------------------
 Clearfix
 ------------------------------------------------------------*/
 
.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	line-height: 0; 
	visibility: hidden;
}

/*-----------------------------------------------------------
 Layout
 ------------------------------------------------------------*/

div#wrap {
	margin: 0 auto;
	width: 900px;
}

	div#cont {
		padding-top: 10px;
		min-height: 200px;
	}