div#dtLightBoxLayer {
	background: #000;
	opacity: .6
}

div#dtLightBoxContainer {
	border: solid #fff 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fff url(../img/loading.gif) no-repeat center center;
	position: relative;
}

img#dtLightBoxClose {
	position: absolute;
	top: -15px;
	right: -15px;
}