@charset "utf-8";

@import url("reset.css");
@import url("base.css");

#overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 9999;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    display: none;
}

#layer_info {
    display: none;
    z-index: 10000;
    position: absolute;
    background: #fff;
    width: 780px;
    height: 460px;
}